*{box-sizing:border-box;}
#lc-form-popup{width:500px;top:10px;position:fixed;z-index:999999;}
.mm-lead-form{max-width:260px;width:100%;min-height:420px;position:absolute;right:0px;box-sizing:border-box;border:1px solid #d8d8d8;padding:20px 20px;border-radius:3px;box-shadow:0 0 1px gray;background:#fff !important;}
#lc-form-popup #sidebar, #lc-form-popup #sidebar1{position:absolute;top:180px;left:195px;}
#lc-form-popup input[type=text], #lc-form-popup textarea{margin-top:10px;padding:6px;width:100%;font-size:15px;border-radius:2px;border:1px solid #98d0f1;}
#lc-form-popup button{background:#2bc1f2;border:none;color:#fff;width:100%;font-size:22px;font-weight:bolder;padding:8px 0 8px 0;border-radius:3px;cursor:pointer;margin-top:25px;}
div.mm-lead-form h2{border-bottom:1px solid #d8d8d8;margin-top:0px;color:#494949 !important;font-size:24px !important;}
div.mm-lead-form input, div.mm-lead-form textarea{border-radius:5px;background:#fff;margin-bottom:15px !important;}
#lc-form-popup #submit{background-color:#159bd6 !important;color:#fff !important;width:100%;}
#lc-form-popup input[type^="text"], #lc-form-popup textarea{color:#6b6868 !important;border-color:#a29393 !important;}
.mm-lead-form .close-popup{float:right;cursor:pointer;}
@media (min-width:320px) and (max-width:767px) and (orientation:landscape){.mm-lead-form{max-width:260px;width:100%;position:absolute;right:0px;box-sizing:border-box;border:1px solid #d8d8d8;padding:20px 20px;border-radius:3px;box-shadow:0 0 1px gray;background:#fff !important;overflow:scroll !important;max-height:280px !important;min-height:0px !important;}
#sidebar1 ,#sidebar{position:absolute;top:70px !important;left:195px;}
}