ol.commentlist{
list-style-type: none;
margin: 0 0 15px;
}
li.comment{
background: none repeat scroll 0 0 transparent;
list-style: none outside none !important;
margin: 0 !important;
padding-left: 0 !important;	
}
.commentlist .avatar {
position: absolute;
right: 30px;
top: 30px;
}
.commentlist .children .comment-content .avatar {
height: 50px;
left: 20px;
position: absolute;
right: auto;
top: 20px;
width: 50px;
}
.commentlist label{ display: inline; }
.commentlist li.comment article {
background: none repeat scroll 0 0 white;
border: 1px solid #DFDFDF;
margin-bottom: 10px;
min-height: 80px;
overflow: hidden;
padding: 30px 100px 30px 30px;
position: relative;
}
.commentlist .comment-author{
margin-bottom: 10px; 
}
.commentlist .fn{
text-transform: capitalize;
}
.commentlist .comment-author, .commentlist span a, .commentlist a, .commentlist span, .commentlist time {
font-size: 16px;
}
.commentlist .comment-content .commentmetadata {
padding: 5px 0;
}
.commentlist p{
padding-bottom: 15px;
}
.commentlist #commentform p{
margin: 0px;
padding: 0px;
}
#comments-title {
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}
#reply-title{
margin-top: 30px;
}
#respond form#commentform{
margin: 0px;
}
p.form-allowed-tags {
font-size: 12px;
margin-bottom: 15px !important;
}
.comment-reply-link {
font-family: Tahoma;
font-size: 10px !important;
font-weight: bold;
background: none repeat scroll 0 0 #F9F9F9;
border-right: 1px solid #E8E8E8;
border-top: 1px solid #E8E8E8;
bottom: 0;
left: 0;
padding: 0 8px 1px;
position: absolute;
text-decoration: none !important;
text-transform: uppercase;
}
.commentlist .children .highlighted > .comment-content .wrap-comment {
padding: 20px 20px 20px 90px !important;
}
.commentlist .highlighted > .comment-content .wrap-comment {
border-color: #ECFFF9;
}
.commentlist .highlighted > .comment-content {
background: none repeat scroll 0 0 #CCCCCC;
border: medium none;
padding: 1px !important;
}
.commentlist .children li > .comment-content {
margin-bottom: 10px;
}
.commentlist .children .comment-content {
margin-bottom: 0;
min-height: 90px;
padding: 20px 0px 0 2px;
}
.commentlist .highlighted > .comment-content {
background-color: #98BAB1;
}
.commentlist .highlighted > .comment-content .wrap-comment {
background: none repeat scroll 0 0 #FFFFFF;
border: 3px solid #EFEFEF;
margin-bottom: 0;
overflow: visible;
padding: 15px 125px 25px 25px;
}
.commentlist .children > li { 
list-style-type: none;
background: url(//training.technologymindz.com/wp-content/themes/campus/assets/images/theme/li-left.png) no-repeat scroll 0 20px transparent !important;
border-left: 1px solid #CACACA;
list-style: none outside none;
margin: 0;
padding-bottom: 10px;
padding-left: 30px !important;
margin-bottom: 10px !important;
}