@charset "utf-8";
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: #FFF;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #94a3a8;
    line-height: 1.5
}

strong,
b {
    font-weight: 600
}

h1 h2,
h3,
h4,
h5,
h6 {
    color: #323e4f
}

h1 {
    font-size: 50px;
    line-height: 1.5;
    margin: 25px 0
}

h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0
}

h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700
}

h4 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.5
}

h5 {
    font-size: 18px;
    margin: 15px 0
}

h6 {
    font-size: 16px;
    margin: 10px 0
}

a {
    color: #5173bd
}

a:hover,
a:focus {
    color: #5173bd;
    text-decoration: none
}

.btn,
.btn-lg,
.input-lg {
    border-radius: 3px
}

.form-control {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-lg {
    height: 55px
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 13px 28px
}

.form-control:focus {
    border-color: #AFBDC8;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.breath {
    margin: 15px auto
}

.highlight {
    background: #f4f4f4;
    margin-top: 0
}

.has-no-margin {
    margin: 0
}

.has-no-padding {
    padding: 0
}

.has-no-padding-horizontal {
    padding-left: 0!important;
    padding-right: 0!important
}

.has-margin-vertical {
    margin: 20px 0 30px
}

.has-margin-top {
    margin-top: 40px
}

.has-margin-bottom {
    margin-bottom: 40px
}

.has-padding-top {
    padding-top: 10px
}

.has-padding-bottom {
    padding-top: 40px
}

.subpage-head {
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 40px
}

.masthead {
    position: relative;
    padding: 20px 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #323e4f
}

.masthead .main-title {
    margin-bottom: 0
}

.masthead .sub-title {
    color: #adb8c7;
    margin-top: 0
}

.bg-family {
    background-color: #323e4f;
    background-image: url(../images/header_bg_gradient.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.logo {
    padding: 15px 0;
    text-align: center
}

.btn-large {
    font-size: 18px;
    padding: 20px 50px;
    margin: 5px 10px
}

.btn-success {
    background: url(../images/bttn-get-ready.png);
    border: 1px solid;
    -webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
    line-height: 1.8;
    color: #303030;
    text-align: left
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: url(../images/bttn-get-ready.png);
    color: #303030;
    border: 0;
    -webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
    background-repeat: no-repeat!important;
    background-color: #2ecc71
}

.btn-primary {
    background-color: #2db6d8;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #209ab8!important;
    color: #FFF!important
}

.btn-warning {
    line-height: 1.8;
    -webkit-box-shadow: 0 3px 0 #b1741d;
    box-shadow: 0 3px 0 #b1741d
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    -webkit-box-shadow: 0 3px 0 #b1741d;
    box-shadow: 0 3px 0 #b1741d
}

.subscribe {
    padding: 45px 0
}

.alertMsg {
    font-size: 14px;
    display: block;
    padding: 5px 17px;
    text-align: center
}

.masthead .form-control {
    border: 0
}

.form-control::-moz-placeholder {
    color: #848E93
}

.form-control:-ms-input-placeholder {
    color: #848E93
}

.form-control::-webkit-input-placeholder {
    color: #848E93
}

@keyframes arrowbounce {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-moz-keyframes arrowbounce {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes arrowbounce {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-o-keyframes arrowbounce {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.scrollto,
.scrollto:hover {
    margin: 30px;
    display: block;
    color: #FFF;
    text-decoration: none;
    width: 200px;
    margin: 0 auto
}

.scrollto small {
    color: #adb8c7
}

.scrollto--arrow {
    padding: 20px;
    padding-bottom: 0
}

.scrollto--arrow img {
    animation: arrowbounce 1s alternate infinite;
    -moz-animation: arrowbounce 1s alternate infinite;
    -webkit-animation: arrowbounce 1s alternate infinite;
    -o-animation: arrowbounce 1s alternate infinite
}

.contact-form {
    background: #4a5565;
    border-radius: 3px;
    padding: 15px;
    text-align: left;
    position: relative
}

.contact-form .mini-title {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #FFF
}

.dark-input {
    background: #353f4d;
    color: #FFF
}

.loading p {
    margin: 10px 0 0;
    text-align: center
}

.point-arrow {
    position: absolute;
    left: -65px;
    top: -30px
}

.quick-features {
    text-align: left
}

.features-lead {
    margin-bottom: 30px;
    color: #323e4f
}

.featues-single {
    margin-bottom: 30px
}

.featues-single img {
    margin-right: 25px
}

.featues-single h5 {
    margin-bottom: 10px;
    margin-left: 85px;
    color: #323e4f
}

.featues-single p {
    color: #adb8c7;
    margin-left: 95px;
    margin-bottom: 0
}

.masthead .featues-single h5,
.masthead .features-lead {
    color: #fff
}

.section-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center
}

.section-title h2 {
    color: #384047;
    margin-bottom: 10px
}

.section-title h4 {
    color: #94a3a8;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0
}

.heroimg img,
.clientlogo img {
    max-width: 100%
}

.features {
    margin: 15px 0
}

.thumbnail {
    border: 0;
    text-align: center
}

.thumbnail .caption p {
    color: #323e54
}

.mm-back p {
    color: #323e54
}

.thumbnail img {
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease
}

.thumbnail:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2
}

.video-block {
    margin: 0 auto
}

.videoWrapper {
    position: relative;
    padding-bottom: 43.65%;
    padding-top: 25px;
    height: 0
}

.videoWrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.videoWrapper > .frameCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none
}

.testblock {
    width: 100%;
    height: auto;
    padding: 20px;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    position: relative;
    line-height: 28px;
    font-size: 16px
}

.testblock:after {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px
}

.clientblock {
    margin-top: 40px;
    margin-left: 10px;
    text-align: center
}

blockquote {
    margin: 0 0 10px;
    font-size: 20px;
    border-left: none;
    text-align: center;
    font-family: Georgia, serif;
    font-style: italic
}

.clientblock img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

.clientblock p {
    padding-top: 13px
}

.clientblock p strong {
    color: #384047;
    font-size: 16px
}

.testblock {
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease
}

.testblock:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2
}

.pricing {
    padding: 25px;
    color: #FFF;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.pricing .planname {
    text-transform: uppercase;
    font-weight: 600
}

.pricing .price {
    font-size: 52px;
    font-weight: 300;
    margin: 10px 0
}

.pricing .billing {
    text-transform: uppercase;
    color: #FFF;
    opacity: .7
}

.pricing .price .curr {
    display: inline-block;
    font-size: 20px;
    vertical-align: super
}

.pricing .price .per {
    display: inline-block;
    font-size: 20px;
    vertical-align: baseline
}

.color1 {
    background-color: #5ca2e0
}

.color2 {
    background-color: #7676c6
}

.color3 {
    background-color: #885fc1
}

.pricing {
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease
}

.pricing:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2
}

.faq p {
    margin-bottom: 25px
}

.footercta {
    padding: 60px 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #323e4f
}

.footercta .section-title {
    margin-top: 0
}

.footercta .section-title h2 {
    color: #FFF
}

.footerlinks {
    text-align: center
}

.footerlinks a {
    text-align: center;
    padding: 0 13px;
    display: inline-block;
    padding-bottom: 15px
}

@media (max-width: 991px) {
    h1 {
        font-size: 35px;
        line-height: 50px;
        margin: 15px 0
    }
    h2 {
        font-size: 35px
    }
    .testimonials [class*="col-"]:not(:first-child) {
        margin-top: 40px
    }
    .planpricing [class*="col-"]:not(:first-child) {
        margin-top: 30px
    }
    .breath {
        margin: 30px auto
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 40px
    }
    h2 {
        font-size: 30px;
        line-height: 40px
    }
    .subscribe [class*="col-"]:not(:first-child) {
        margin-top: 30px
    }
    .masthead {
        padding: 10px 15px
    }
}

@media (max-device-width: 992px) {
    .masthead {
        background-size: cover;
        background-attachment: scroll
    }
}

.signup-block {
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    margin-bottom: 25px
}

.form-group.last {
    margin-bottom: 0
}

.multiple-btns .btn + .btn {
    margin: 10px
}

s
/*=== Navigation ===*/

.navbar-default {
    background-color: #FFF;
    border-color: #e0e0e0
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #FFF;
    font-weight: 700
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    text-transform: uppercase;
    font-weight: 700
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: rgba(255, 255, 255, 0.22)
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #333;
    background-color: rgba(255, 255, 255, 0.21)
}

.navbar-brand {
    padding: 8px 15px
}

.light .masthead {
    background: #FCF9F5;
    background: -moz-linear-gradient(top, #fff 50%, #fdf8f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(100%, #fdf8f2));
    background: -webkit-linear-gradient(top, #fff 50%, #fdf8f2 100%);
    background: -o-linear-gradient(top, #fff 50%, #fdf8f2 100%);
    background: -ms-linear-gradient(top, #fff 50%, #fdf8f2 100%);
    background: linear-gradient(to bottom, #fff 50%, #fdf8f2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fdf8f2', GradientType=0);
    color: #293342;
    padding-bottom: 0
}

.light .masthead .sub-title {
    color: #080808;
    font-weight: 400
}

.light .featues-single p {
    color: #323e54
}

.light .contact-form {
    background: #FFF;
    border: 1px solid gray
}

.light .form-control {
    border: 1px solid #CCC;
    color: #000
}

.light .contact-form .mini-title {
    color: #080808;
    text-align: left
}

.light .masthead .featues-single h5,
.light .masthead .features-lead {
    color: #6C6C6C
}

.masthead .bg-image {
    background: url(../images/edu-bg.jpg) center center no-repeat;
    background-size: cover
}


/*.highlight .section-title{margin-top:0px}*/

.masthead.header-bg {
    background: url(../images/travel-bg.jpg) top center no-repeat;
    background-size: cover
}

.color-white {
    color: #FFF!important
}

.masthead.event {
    background: url(../images/event_bg.jpg) bottom no-repeat;
    background-size: cover
}

@media (min-width:767px) {
    .masthead.event {
        padding: 120px 15px
    }
}

.pagination>li>a,
.pagination>li>span {
    color: #483f34
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #917E68
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #3289D6;
    border-color: #3172AC;
    color: #FFF
}

.vertical-links li {
    border-bottom: 1px solid #E6DDD4;
    padding: 8px 0
}

.tag-cloud a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 2px 8px;
    border: 1px solid #eceae4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f8f7f3;
    font-size: 12px
}

.tag-cloud a:hover {
    text-decoration: none
}

.comments-head {
    font-size: 35px;
    color: #53504c;
    border-bottom: 1px solid #F5F5F5;
    margin: 40px 0 20px;
    padding-bottom: 10px
}

.comments-block > .media {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.comments-block > .media .media {
    border-top: 1px solid #F5F5F5;
    padding-top: 20px
}

.media-object {
    width: 40px
}

.subpage-head {
    background-color: #323e4f;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.subpage-head .section-title h2 {
    color: #FFF
}

.subpage-head .section-title h4 {
    color: #adb8c7
}

.subpage-head a {
    color: #FFF;
    border-bottom: solid 1px #FFF;
    text-decoration: none;
    padding-bottom: 5px
}

.subpage-head a:hover,
.subpage-head a:focus,
.subpage-head a:active {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    text-decoration: none
}

#exit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#exit-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}

#exit-modal .exit-modal {
    width: 600px;
    height: 400px;
    background-color: #f0f1f2;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    -webkit-animation: popin .3s;
    animation: popin .3s
}

#exit-modal .modal-title {
    font-size: 18px;
    background-color: #FFF;
    padding: 10px;
    margin: 0;
    border-radius: 4px 4px 0 0;
    text-align: center
}

#exit-modal h3 {
    color: #2B9DD8;
    font-size: 1.4em;
    margin: .6em;
    text-transform: uppercase;
    font-weight: 700
}

#exit-modal .modal-body {
    padding: 30px 40px
}

#exit-modal p {
    color: #344a5f;
    line-height: 1.7em;
    font-size: 16px
}

#exit-modal p strong {
    color: #F80
}

#exit-modal .popup-cta {
    margin-top: 20px;
    margin-bottom: 20px
}

#exit-modal form {
    text-align: center;
    margin-top: 35px
}

#exit-modal form input[type=text] {
    padding: 12px;
    font-size: 1.2em;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-font-smoothing: antialiased
}

#exit-modal form input[type=submit] {
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 4px;
    color: #fff;
    background-color: #4ab471;
    border: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased
}

#exit-modal form p {
    text-align: left;
    margin-left: 35px;
    opacity: .8;
    margin-top: 1px;
    padding-top: 1px;
    font-size: .9em
}

#exit-modal .modal-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%
}

#exit-modal .modal-footer p {
    text-transform: capitalize;
    cursor: pointer;
    display: inline;
    border-bottom: 1px solid #344a5f
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@media (max-width:767px) {
    #exit-modal .exit-modal {
        width: 100%;
        height: 100%
    }
}

h1.main-title {
    margin: 0
}

.btn-success:hover {
    border: 1px solid #29c36a
}

h4.sub-title {
    font-size: 25px
}

img.img-responsive.mm_mobile_img {
    display: none
}

input.btn.btn-success.btn-lg.btn-block {
    height: 52px;
    background-size: contain;
    background-attachment: inherit!important;
    width: 100%!important;
    background-position: center;
    background-repeat: no-repeat color: #303030;
    border: 0;
    -webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
    background-repeat: no-repeat!important;
    background-color: #2ecc71
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    #videoBlock img {
        width: 100%
    }
    .section-title h2 {
        font-size: 26px
    }
    h1.main-title {
        font-size: 26px
    }
    .input-lg {
        height: 40px
    }
    .btn-success {
        background-size: cover
    }
    input.btn.btn-success.btn-lg.btn-block {
        height: 40px
    }
    .mm-tiger-img {
        padding: 0
    }
    .mm-form {
        padding: 20px 0px;
        margin-bottom: 10px
    }
    h2.section-title_h2 {
        font-weight: 400
    }
    img.img-responsive.mm_mobile_img {
        display: block!important
    }
    img.img-responsive.mm_desktop_img {
        display: none
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    #videoBlock img {
        width: 100%
    }
    .section-title h2 {
        font-size: 26px
    }
    h1.main-title {
        font-size: 26px
    }
    .input-lg {
        height: 40px
    }
    .btn-success {
        background-size: cover
    }
    input.btn.btn-success.btn-lg.btn-block {
        height: 40px
    }
    .mm-tiger-img {
        padding: 0
    }
    .mm-form {
        padding: 20px 0px;
        margin-bottom: 10px
    }
    img.img-responsive.center-block {
        width: 100%
    }
    h2.section-title_h2 {
        font-weight: 400
    }
    img.img-responsive.mm_mobile_img {
        display: block!important
    }
    img.img-responsive.mm_desktop_img {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .mm-form {
        width: 100%;
        float: left;
        padding: 20px 0px;
    }
    .mm-tiger-img {
        width: 100%;
        float: left
    }
    .light .contact-form{
    	width: 50%;
    	margin: 0 auto;
    }
    .mm-boy {
        width: 25%;
        float: left
    }
    .mm-content {
        width: 75%;
        float: left
    }
    h2.section-title_h2 {
        font-weight: 400
    }
    img.img-responsive.mm_mobile_img {
        display: block!important
    }
    img.img-responsive.mm_desktop_img {
        display: none
    }
    .contact-form {
        padding: 6px 15px 11px !important
    }
    input.btn.btn-success.btn-lg.btn-block {
        height: 30px !important;
        background-size: contain;
        background-attachment: inherit !important;
        width: 100% !important;
        background-position: center;
        background-repeat: no-repeat
    }
   /*  .input-lg {
       height: 30px
   }
   .contact-form .mini-title {
       margin: 2px!important
   } */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    img.img-responsive.mm_mobile_img {
        display: block!important;
        width: 100%;
    }
    img.img-responsive.mm_desktop_img {
        display: none
    }
    .contact-form {
        padding: 6px 15px 11px!important
    }
    .mm-tiger-img {
        width: 100%;
        float: left
    }
    .light .contact-form{
    	width: 50%;
    	margin: 0 auto;
    }
    .mm-form {
        width: 100%;
        float: left;
        padding: 20px 0px;
    }
    #videoBlock img {
        width: 100%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .col-sm-12.col-md-8.col-md-pull-4.mm-tiger-img {
        width: 50%;
        float: left;
    }
   .col-sm-6.col-sm-offset-3.col-md-offset-0.col-md-4.col-md-push-8.mm-form {
        width: 45%
    }
    .mid-vtiger {
        height: 280px;
    }
    #videoBlock img {
        width: 100%;
    }
}


/*****************css by ashfaque***********/

.android_ios one {
    border-right: 1px solid #f4f4f4;
}

.android_ios one h2 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #323e54;
    line-height: 1.5;
    font-family: 'Montserrat', Arial, sans-serif;
}

.android_ios h2 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #323e54;
    line-height: 1.5;
    font-family: 'Montserrat', Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.background {
    background-color: #ffffff;
    padding: 20px 0px 20px 0px;
}

.container_desktop {
    background: #efeeee;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.android_ios p {
    margin-top: 20px;
    font-size: 14px;
    text-align: justify;
    font-weight: 400;
    color: #323e54;
    line-height: 1.5;
    font-family: 'Montserrat', Arial, sans-serif;
}
.gray_color {
    padding: 30px 0px 30px 0px;
}

.col-md-6.android_ios.one {
    border-right: 2px solid #efeeee;
}

.col-md-3.mm-boy img {
    padding-top: 15px;
}
/*****************end of css by ashfaque***********/

@media (max-width: 767px) and (min-width: 320px) {
    .col-md-6.android_ios.one {
        border-right: 0px solid #efeeee;
    }
    #videoBlock img {
        width: 100%;
    }
}
/*****************css by rau***********/
