.forcefullwidth_wrapper_tp_banner{margin-top:0 !important;margin-bottom:10px !important;}
.rev_slider_wrapper{margin:0px !important;padding:0px !important;position:relative !important;}
.tp-fullwidth-forcer{height:120px !important;display:none;}
#logotype{width:90px;margin-top:15px;}
#section-tophat{height:36px;}
fieldset{margin:0;}
#section-tophat ul.social{margin:0;}
.text{display:inline-block;}
#section-header .ten.columns{padding:33px 0;font-size:18px;text-align:right;}
#section-tophat .sixteen.columns{margin-top:7px;}
.mm-date p{color:#000;margin:0;}
.mm-date{position:absolute;top:6%;width:60px;left:4%;background:rgba(236, 178, 0, 0.5);text-align:center;}
#section-header .sixteen.columns{float:initial;}
.vc-gitem-zone-height-mode-auto::before{padding-top:0px !important;}
.vc_gitem_row.vc_row.vc_gitem-row-position-top{float:left;position:relative;}
.vc_gitem_row.vc_row.vc_gitem-row-position-bottom{float:left;position:relative;}
.left, .fullmessage, #text{margin-bottom:15px !important;}
.left input, .fullmessage textarea, #text{margin-top:5px !important;}
#Save{margin-top:20px;cursor:pointer;}
#section-footer, #section-sub-footer{z-index:1;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a{padding-right:25px;}
#section-slider .container, #section-page-caption{position:relative;z-index:1;width:100%;background-size:100% 100%;}
.page-template-template-blog #section-content .sidebar.primary-sidebar{margin-top:-40px !important;padding:0px !important;}
@media only screen and (max-width:767px){#section-page-caption{min-height:auto !important;}
.page-template-template-blog .page-title-breadcrumbs{margin-top:50px !important;}
.page-template-template-blog #section-content .sidebar.primary-sidebar{margin-top:0 !important;padding:0px !important;}
}
.page-title-hr{display:block !important;}
.page-template-template-blog #section-content .container:first-child .content{padding-top:0;}
.page-template-template-blog .page-title-breadcrumbs{margin-left:10px;width:67%;}
.icon{float:left;margin-right:10px;line-height:25px;}
#section-tophat .search input.field{border-left:none;}
#section-footer div{margin-bottom:10px;}
.featured{margin-bottom:20px !important;}
.commentlist #commentform p{margin-bottom:20px;}
.format-icon{display:none;}
#Save{background:transparent;border:2px solid #ecb200;padding:10px 25px;font-weight:bold;font-size:14px;border-radius:0px;color:#00254e;margin-top:20px;cursor:pointer;}
.mm-heading{display:table;}
.mm-heading p{margin-right:10px !important;}
#menu-contact-side-menu{margin-left:20px;}
#menu-contact-side-menu li{list-style-position:outside;}
ul{margin-left:20px;}
ul li{list-style:outside;}
@media only screen and (max-width:767px) and (min-width:480px){.container .one.column, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .wpb_column, .column_container, .container .two-thirds.column{width:100% !important;}
.wpb_single_image .vc_figure{width:100% !important;}
#section-content p, #section-content h1, #section-content .wpcf7, #section-content h2{padding:0 !important;}
}
#section-footer .widget, #section-footer .widget ul{margin-bottom:0 !important;margin-left:0;}
@media screen and (min-width:300px) and (max-width:767px){#responsive-nav{position:absolute;max-width:inherit;}
#section-navigation .container{overflow:visible;}
#responsive-nav ul{box-shadow:inherit;margin:0;color:#fff;z-index:9999999;top:40px;width:100% !important;left:8px;position:static;height:0;transition:0s all ease-out;float:left;}
.dl-menuwrapper button.dl-active,
.dl-menuwrapper button{top:0;padding-left:22px;padding-right:24px;}
#responsive-nav ul li a div{color:#fff;}
.dl-menuwrapper li>a:after{right:10px;color:rgb(255, 255, 255);}
.mm_mobile{margin:14px 0;width:80%;display:inline-block;border:0;text-align:left !important;padding-left:20px;}
#responsive-nav button{position:relative;left:0px !important;padding:0px !important;width:60px;border-radius:0;float:right;}
#responsive-nav ul.dl-menu.dl-menuopen{height:auto;transition:.5s all ease-in-out;}
#section-navigation{border:0px !important;background:none;margin-top:-50px;}
.dl-menuwrapper button{background:rgba(0, 0, 0, 0.68);}
.dl-menuwrapper li .dl-submenu{display:none;float:left !important;position:relative !important;background:##333 !important;margin:0px !important;width:100% !important;height:auto !important;left:0px !important;top:0px !important;color:#fff !important;}
.wpb_wrapper .wpb_content_element .wpb_tabs_nav li{margin:0;border-radius:0;border-bottom:1px solid rgba(0, 0, 0, 0.18);}
#responsive-nav button{margin-top:-15px;}
.dl-menuwrapper{position:relative;background-color:#D83E38;text-align:center !important;}
.dl-menuwrapper button{width:40px !important;float:none !important;}
#section-navigation{margin-top:0px;}
#responsive-nav button{margin-top:0px;}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon{position:absolute;right:-19.3em !important;top:0.7em;}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.wpb_content_element .wpb_accordion_header a{padding:0.5em 2em !important;}
}
.tp-bannertimer{z-index:60 !important;}
.textwidget ul{margin:0;}
#mega-menu-wrap-default_menu #mega-menu-default_menu > li.mega-menu-megamenu.mega-menu-item{ position:relative;}