.add_new_h2{
background: none repeat scroll 0 0 #e0e0e0;
border: medium none;
border-radius: 2px;
font-size: 13px;
font-weight: 600;
margin-left: 4px;
padding: 4px 8px;
position: relative;
text-decoration: none;
text-shadow: none;
top: -3px;
}
.add_new_h2:hover{
color:#000;
background-color:#069;
}
.postbox .half, .postbox .half-left, .postbox .half-right {
float: left;
width: 50%;
}
#poststuff .inside {
margin: 6px 0 0;
}
js .postbox .hndle, .js .widget .widget-top {
cursor: move;
}
#titlediv {
background-color: #fff;
border: 1px solid #c7c7c7;
margin-bottom: 20px;
padding: 6px;
position: relative;
}
input#cf8-title {
background-color: transparent;
border: medium none;
box-shadow: none;
color: #5f5f5f;
// cursor: pointer;
font-size: 1.5em;
font-weight: bold;
width: 80%;
}
div.save-contact-form {
padding: 1.4em 0 0;
text-align: right;
}
.button-primary {
background: none repeat scroll 0 0 #2ea2cc;
border-color: #0074a2;
box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
color: #fff;
text-decoration: none;
}
h3 {
font-size: 14px;
line-height: 1.4;
margin: 0;
padding: 8px 12px;
}
.border_style{
border:thin solid #666 !important;
}
div.tg-mail-tag {
margin-top: 2.4em;
text-align: right;
}
div.tg-tag {
margin: 0.4em 0;
}
.ls{
border:2px solid #909;
}
div#add_extra_fields label {
float: left;
width: 100%;
margin-bottom:5px;
}
.mail-field textarea{width: 93% !important;}
.js .postbox .handlediv .toggle-indicator:before{display: none !important;}
.postbox h2.hndle span{padding-left: 10px; }
table.fixed {
table-layout: inherit !important;
}
@media screen and (max-width: 782px){  
.postbox .half-left, .postbox .half-right {
float: left;
width: 100% !important;
}
.mail-field textarea {
width: 97% !important;
}
}
.sendmsg {
color: green;
font-weight: bold;
}
.savemsg{
border:1px solid #096;
margin-top:15px;
padding:5px;
}
.fs8errormsg{   
color:RED;
} 
.savemsg {
border: 1px solid #096;
margin-top: 15px;
padding: 5px;
color: green;
font-size: 18px;
line-height: 26px;
margin-left: 4px;
margin-right: 10px;
}
span#errMsg {
color: red;
}