img#wpstats{display:none;}
.column_container input.wpcf7-submit{margin-top:00px !important;}
.highlight-row h2 a{color:#ECB200 !important;}
.vc_span3 h2 a{color:#333;}
.tp-caption{padding:10px 10px !important;}
.full-width .page-title{text-align:center;}
#dynamic-to-top{z-index:9999 !important;}
.wpb_revslider_element{margin-bottom:25px !important;}
#section-tophat{z-index:1;}
#section-tophat ul.social{margin:-2px 5px 0 0;}
#section-tophat .search{float:left;margin-left:0px;}
#section-tophat .search input.field{background:transparent url(//training.technologymindz.com/wp-content/themes/campus/assets/images/theme/search.png) no-repeat 3px 3px;border:0px;border-radius:2px;z-index:2;text-indent:-999px;border-left:1px solid rgba(0,0,0,0.1);font-size:1.5rem;height:24px;margin:-2px 5px 0 0 !important;overflow:visible;padding:0px;transition:width 0.5s ease-out 0s;width:24px;}
#section-tophat .search input.field:focus{background-color:#FFFFFF;width:200px;text-indent:0px;-moz-transition:width 0.5s ease-out;-webkit-transition:width 0.5s ease-out;transition:width 0.5s ease-out;color:#777;padding-left:35px;}
#section-tophat .search .button{display:none;}
#section-navigation, .sf-menu ul li, .sf-menu ul li li{background-color:#00254E;}
header{position:relative;z-index:100;}
#section-header h1.site-title, .page-caption strong{font-weight:700;}
#section-header h1{color:#00254E;font-family:arial;font-size:3em;font-weight:200 !important;letter-spacing:-1px;line-height:90%;display:inline;}
span.site-title{vertical-align:super;}
.dl-menu li{list-style:none outside none !important;}
#section-footer, #section-sub-footer{position:relative;z-index:102;}
#section-header .container{z-index:105;position:relative;top:0px;padding:0px 0px 0px 0px;margin-left:0x;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
#section-page-caption{padding-bottom:10px;}
.page-caption{margin:60px 15px 60px 15px;line-height:6.0rem;}
.home .page-caption{margin:70px 0 60px;}
.page-caption, .action_button_wrapper{text-align:center;}
h1.page-caption span{background:rgb(0, 37, 78) !important;background:rgba(0, 37, 78, 0.80) !important;padding:5px 15px !important;color:white !important;}
h1.page-caption .spacer{padding:0 8px;display:inline;}
h1.page-caption a{color:white !important;}
.module-meta{text-align:center;}
.home .module-meta{text-align:left;}
h3.module-headline{font-size:1.6rem;margin:5px 0;text-transform:uppercase;}
.action_button_wrapper{margin-top:-40px;padding-bottom:15px;}
.container .action_button a, .container .action_button:visited a{background:rgb(0, 0, 0);background:rgba(0, 0, 0, 0.8);border:2px solid rgba(255, 255, 255, 0.2);font-size:1.6rem !important;text-transform:uppercase;color:#FFFFFF;}
.action_button_wrapper *{-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.action_button a{opacity:0.9;}
.action_button a:hover{opacity:1;border:2px solid rgba(255, 255, 255, 1);}
.action_button a:hover{color:white;}
.tp-button{padding:10px !important;}
.site-title-wrapper{display:inline-block;}
.site-title-wrapper h1{margin:0px;}
.sf-menu{margin-bottom:-6px;margin-left:auto;margin-right:auto;margin-top:0;}
.sf-menu > li > a strong{font-size:1.7rem;text-transform:uppercase;font-weight:400;}
.sf-menu > li:hover a strong{color:#FFF;}
.sf-arrows .sf-with-ul:after{border-top-color:#ECB200;border-top-style:solid;border-top-width:5px;}
.sf-menu li.current-menu-item a strong{text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.sf-menu .sub-menu{z-index:9999;}
.pptwj ul, .pptwj li{list-style:none !important;}
#skeleton-container{position:relative;clear:both;}
#skeleton-container .module-container{display:block;margin-bottom:20px;overflow:hidden;}
#skeleton-container .hybrid-module{border-bottom:1px dashed #DDDDDD;}
#skeleton-container a[rel~="category"]{color:#aaa !important;background:transparent !important;font-size:1.3rem !important;font-weight:500;padding:2px 8px;}
.category_row .module-meta h3{font-size:1.7rem;margin:-5px 0;}
.category_row h3{text-align:center;margin-bottom:20px;text-transform:uppercase;}
.advancedscroller .bulletsCon{margin:-35px auto 12px;}
.wp-paginate li span, .wp-paginate li a{border-radius:4px;color:#333;}
.commentlist li.comment article{margin-bottom:-2px;}
.tp-caption{font-size:38px !important;font-style:normal !important;font-family:'Source Sans Pro' !important;font-weight:100 !important;}
.tp-caption.very_big_white{background:rgb(0, 37, 78) !important;background:rgba(0, 37, 78, 0.50) !important;color:#FFFFFF;font-family:Arial;font-size:48px !important;line-height:28px !important;font-weight:600 !important;}
.tp-caption.big_white{background:rgb(0, 37, 78) !important;background:rgba(0, 37, 78, 0.50) !important;color:#FFFFFF;font-weight:600 !important;font-size:32px !important;line-height:18px !important;letter-spacing:-0.5px !important;}
.tp-caption.modern_medium_fat_white{background:rgb(0, 37, 78) !important;background:rgba(0, 37, 78, 0.50) !important;color:#FFFFFF;font-family:Arial;font-size:40px !important;line-height:30px !important;}
.tp-caption.large_text{color:#FFFFFF;font-family:Arial;font-size:64px !important;font-weight:700;text-shadow:0 2px 5px rgba(0, 0, 0, 0.5);}
.tp-caption.medium_text{color:#FFFFFF;font-family:Arial;font-size:30px !important;font-weight:700;line-height:20px;}
.tp-caption a{color:#FF7302;font-size:15px !important;padding-left:15px !important;padding-right:15px !important;letter-spacing:0px !important;}
.tp-button.lightgrey, .tp-button.lightgrey:hover, .purchase.lightgrey, .purchase.lightgrey:hover{background-color:#ECB200 !important;box-shadow:0 3px 0 0 #555555;}
.wpb_wrapper{margin-bottom:10px !important;}
#section-slider{display:inline;z-index:10 !important;position:relative;}
@media only screen and (min-width:960px) and (max-width:1200px){h1.page-caption .spacer{display:none;}
h1.page-caption span{display:inline-block;letter-spacing:-0.05rem;}
.page-caption{line-height:4.5rem;}
.wpb_tabs li a{font-size:14px !important;}
.highlight-row span{font-size:80%;}
.tp-caption.very_big_white{line-height:22px !important;}
.tp-caption.big_white{font-size:28px !important;font-weight:600 !important;line-height:16px !important;}
}
@media only screen and (min-width:768px) and (max-width:960px){h1.page-caption span{font-size:25px;}
.tp-caption.very_big_white{font-size:28px !important;font-weight:600 !important;line-height:4px !important;}
.tp-caption.big_white{font-size:22px !important;font-weight:600 !important;line-height:4px !important;}
.tp-caption a{font-size:10px !important;padding:4px 10px !important;line-height:29px !important;}
.tp-caption.large_text{font-size:35px !important;}
.tp-caption.medium_text{font-size:17px !important;}
.tp-caption.big_white.sfl{margin-top:-19px !important;}
}
@media only screen and (max-width:767px){h1.page-caption span{font-size:14px;}
.vc_row-fluid [class*="vc_span"]{margin-left:0 !important;}
.highlight-row *{float:none !important;text-align:center !important;}
.highlight-button{margin-top:7px !important;}
.highlight-row .wpb_wrapper{padding-right:25px;}
.content-inner{margin-top:35px;}
.site-title > img{width:95%;}
.site-title-wrapper{padding-bottom:0;padding-top:23px !important;}
#section-header, #section-header .container{overflow:visible;}
#section-sub-footer{position:relative;bottom:0;display:block;}
#section-sub-footer .colophon{display:none;}
#section-content .container{margin-top:-40px;}
.ls-wp-fullwidth-container{margin-top:75px;}
#section-header .container, #section-content .container{border:0px solid #FFF;}
#section-content p, #section-content h1, #section-content .wpcf7, #section-content h2{padding:0;}
.home .page-caption{margin:10px 0 65px;}
h1.page-caption .spacer{display:none;}
h1.page-caption span{display:block;}
.page-caption{line-height:4.5rem;}
#section-tophat fieldset{margin-bottom:0px;}
#section-tophat .social{padding-top:3px;position:relative;text-align:right;}
#section-tophat .search input.field{background:url(//training.technologymindz.com/wp-content/themes/campus/assets/images/theme/search.png) no-repeat scroll 3px 3px rgba(255, 255, 255, 0.5);height:24px;margin:1px 0px 0 0 !important;}
#section-tophat .search input.field:focus{width:100px;}
.wpb_tab .wpb_single_image.wpb_content_element{float:none;}
.wpb_tabs li a{font-size:12px !important;}
.wpb_tabs .wpb_wrapper .wpb_content_element{width:94%;}
.tp-caption.very_big_white{font-size:28px !important;font-weight:600 !important;line-height:4px !important;}
.tp-caption.big_white{font-size:17px !important;font-weight:600 !important;line-height:4px !important;}
.tp-caption a{font-size:10px !important;padding:4px 10px !important;line-height:29px !important;}
.tp-caption.large_text{font-size:35px !important;}
.tp-caption.medium_text{font-size:17px !important;}
.tp-caption.big_white.sfl{margin-top:-19px !important;}
.wpb_column.column_container, .wpb_content_element{width:100% !important;}
}
@media only screen and (min-width:480) and (max-width:767px){}
@media only screen and (max-width:479px){.wpb_tabs .wpb_wrapper{padding-right:0px;}
.highlight-row .wpb_wrapper{padding-right:0px !important;}
.tp-caption.very_big_white{font-size:20px !important;font-weight:600 !important;line-height:0px !important;margin-top:-10px !important;}
.tp-caption.big_white{font-size:10px !important;font-weight:600 !important;line-height:0px !important;letter-spacing:0px !important;}
.tp-caption a{font-size:10px !important;padding:4px 10px !important;line-height:29px !important;}
.tp-caption.large_text{font-size:24px !important;}
.tp-caption.medium_text{font-size:12px !important;}
.tp-caption.big_white.sfl{margin-top:-28px !important;}
.tp-caption a{padding:3px 6px !important;line-height:24px !important;}
.wpb_tabs_nav li{clear:both;}
}
#section-flagdropdown .widget{margin-left:15px;margin-right:15px;vertical-align:top;margin-bottom:15px;margin-top:5px;}
#section-flagdropdown .textwidget > p{margin-bottom:0px !important;}
#section-flagdropdown .partial-bottom{display:none;}
#section-flagdropdown a{color:#ECB200;}
#section-flagdropdown h2 a, #section-flagdropdown h2, #section-flagdropdown h3, #section-flagdropdown h4{color:#FFFFFF !important;}
#section-flagdropdown .textwidget, #section-flagdropdown .widget li{color:#999999;}
#loginform label{color:white;}
.display_block{display:block !important;}
.slidingDiv{border-bottom:5px solid #ECB200;padding:20px 0 0 0;}
#section-flagdropdown{background-color:#00254E;}
.flag_toggle{float:right\9;}
.flag_toggle{float:right;position:relative;right:28px;top:-17px;visibility:visible;z-index:500;margin-bottom:-23px;}
.fp_banner{display:block;position:relative;right:10px;text-align:right;top:-10px;z-index:500;}
.fp_banner img{cursor:pointer;margin-left:-60px;margin-top:27px;min-width:92px !important;position:absolute;z-index:400;}
@media screen and (-webkit-min-device-pixel-ratio:0){.flag_toggle{float:right !important;}
}
.sf-menu ul li, .sf-menu ul li li{background-color:rgba(0, 37, 78, 0.9);}
.sf-menu ul li a, .sf-menu ul li li a{color:#FFFFFF !important;text-shadow:1px 1px 2px #333;}
.sf-menu > li a span{display:block !important;margin-top:-8px;}
.rev_slider_wrapper{background-color:#FFFFFF !important;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;margin-bottom:10px !important;margin-top:25px !important;padding:9px !important;position:relative;}
#section-slider .container, #section-page-caption .container{box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;margin-top:10px !important;border:9px solid #FFFFFF;position:relative;}
#section-page-caption{background-repeat:no-repeat !important;}
.page-title-breadcrumbs{text-align:left;}
.full-width .page-title-breadcrumbs{text-align:center;}
.page-title{display:inline;}
.breadcrumbs{display:inline;margin-left:5px;}
#section-page-caption{border:9px solid #FFF;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;margin-left:0px;margin-bottom:25px;margin-top:0px;width:98%;}
.sidebar .widget:first-child .widget-title{border-bottom-color:#00254E !important;border-bottom-style:solid !important;border-bottom-width:4px !important;margin-bottom:21px !important;padding-bottom:16px;}
a.sidebar-advert img{background-color:rgba(200, 200, 200, 0.05);padding:5px;margin-left:17px;margin-top:14px;}
a.sidebar-advert:hover img{background-color:rgba(255, 255, 255, 0.8);box-shadow:0 1px 4px rgba(0, 0, 0, 0.5) !important;}
a.header-image img, a.sidebar-advert img{transition-delay:0s;transition-duration:0.2s;transition-property:all;transition-timing-function:ease-in-out;}
.sidebar li.menu-item.current-menu-item a{color:#ECB200;}
.sidebar li.menu-item a{color:#07416A;}
.highlight-row{background-color:#00254E;border-radius:2px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;color:#EEEEEE;padding:17px 20px 18px 20px;}
.highlight-row .wpb_content_element{margin:0px !important;}
.highlight-row span{font-family:georgia;line-height:29px;color:#FFFFFF !important;}
.highlight-row *{margin-bottom:0px !important;}
.featured .wpb_content_element{clear:both;margin-bottom:0px;}
.featured .wpb_heading{display:inline-block;margin-top:12px;margin-left:10px !important;}
.featured .wpb_content_element.wpb_single_image img{float:left;}
.featured .wpb_wrapper > p{margin-bottom:0px;}
.su-button > span{text-shadow:1px 1px 3px #333333 !important;}
#grid-filter a.button{background-color:#00254E;color:#FFFFFF !important;}
.grid-filters .button{border-bottom-color:#ECB200 !important;border-bottom-style:solid !important;border-bottom-width:4px !important;padding-bottom:11px;}
a.zilla-button{margin-bottom:5px !important;}
.wpb_content_element.wpb_tabs .wpb_tab, .wpb_content_element.wpb_tour .wpb_tab{padding-bottom:0.8em !important;padding-left:1.9em !important;padding-right:1.9em !important;padding-top:1.9em !important;}
.wpb_tour .wpb_wrapper{margin-bottom:15px !important;}
.wpb_wrapper .wpb_tabs hr, .wpb_wrapper .wpb_tour hr, #section-flagdropdown hr, #section-footer hr{border-bottom-color:#ECB200 !important;border-bottom-style:solid !important;border-bottom-width:1px !important;}
.wpb_tabs_nav{border-bottom-color:#ECB200;border-bottom-style:solid;border-bottom-width:3px;}
ul.wpb_tabs_nav li{border-top-left-radius:2px;border-top-right-radius:2px;}
.wpb_tour ul.wpb_tabs_nav li{border-top-right-radius:0px !important;}
.wpb_tabs li a{font-size:17px;}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover{background-color:#777777 !important;}
.wpb_wrapper .wpb_content_element .wpb_tabs_nav li{background-color:#00254E !important;}
.wpb_wrapper .wpb_accordion_wrapper .wpb_accordion_header, .wpb_wrapper .wpb_tour_tabs_wrapper .wpb_tab{background-color:#00254E !important;}
.wpb_tabs h2 a, .wpb_tabs h2, .wpb_tour h2 a, .wpb_tour h2{color:#FFFFFF !important;}
.ui-tabs-panel{border-bottom-left-radius:2px;border-bottom-right-radius:2px;padding-bottom:0px !important;}
.wpb_tab .wpb_row{margin-bottom:0 !important;}
.wpb_tabs .wpb_text_column *:last-child{margin-bottom:15px;}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover{background-color:#ECB200 !important;}
.wpb_tabs li.ui-state-active a, .wpb_tabs li.ui-state-active a:hover, .wpb_tabs li.ui-state-default a,
.wpb_tour li.ui-state-active a, .wpb_tour li.ui-state-active a:hover, .wpb_tour li.ui-state-default a{color:#FFFFFF !important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.wpb_tabs .gallery .wpb_wrapper{margin-bottom:0px !important;}
.wpb_tabs .wpb_heading{color:#FFFFFF !important;}
.wpb_tour img{margin-top:5px !important;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a{color:#FFFFFF !important;}
.wpb_tabs .wpb_content_element.wpb_single_image img{height:auto;max-width:100%;width:100%;}
.wpb_gmaps_widget .wpb_map_wraper{padding:0px !important;}
.wpb_tabs .wpb_gmaps_widget .wpb_map_wraper{margin-bottom:20px !important;}
.timeline .stream{overflow-x:hidden !important;overflow-y:hidden !important;position:relative;width:100%;}
iframe.twitter-timeline{width:100%;}
.highlight-image img{box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;margin-bottom:10px !important;margin-top:10px !important;padding-bottom:9px !important;padding-left:9px !important;padding-right:9px !important;padding-top:9px !important;position:relative;}
.wp-admin #visual_composer_content h4{font-size:1.3em !important;margin-bottom:1.33em;margin-left:0;margin-right:0;margin-top:0 !important;}
.alignleft{margin-top:0px;margin-right:10px;}
img.alignleft{margin-top:0px;margin-right:10px;}
.slides .flex-caption{padding-bottom:0 !important;}
.flex-active-slide .flex-caption > p{margin-bottom:15px !important;}
.outside-container{margin-left:-8px !important;}
.wpb_tour_next_prev_nav .wpb_prev_slide, .wpb_next_slide{display:none !important;}
.wpb_teaser_grid.wpb_carousel.grid_layout-thumbnail{margin-bottom:0 !important;margin-top:40px;}
.wpb_carousel .prev, .wpb_carousel .next{padding:0 6px !important;color:#999 !important;color:#FFFFFF !important;border-radius:3px;background-color:#ECB200 !important;}
.vc-left.vc-carousel-control{display:block !important;}
.vc_carousel .vc-carousel-control .icon-prev,
.vc_carousel .vc-carousel-control .icon-next{color:#999 !important;color:#FFFFFF !important;border-radius:3px;background-color:#ECB200 !important;}
.vc-carousel-control.vc-left{display:block !important;clear:both !important;left:auto !important;right:37px !important;top:0px !important;}
.vc-carousel-control.vc-right{top:0px !important;}
.vc-carousel-control .icon-next:before{content:"›";position:relative;top:-6px !important;left:1px !important;}
.vc-carousel-control .icon-prev:before{content:"‹";position:relative;top:-6px !important;}
.vc-carousel-control .icon-prev, .vc-carousel-control .icon-next{display:block;font-size:24px !important;height:22px !important;margin-left:-12px !important;margin-top:-15px;padding:0;width:22px !important;}
.vc-carousel-control .icon-prev{margin-left:0px !important;}
.vc-carousel-control{width:23px !important;opacity:1 !important;}
.sf_container label{display:none;}
.sf_search{margin-bottom:13px;padding:5px 0px;width:95%;}
.the_content .sf_search{margin:10px 0 9px;}
.sidebar .widget:first-child .sf_search{margin-bottom:0px;}
#sf_results{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DDDDDD;border-radius:2px 2px 2px 2px;font-family:arial,sans-serif !important;font-size:11px !important;margin-left:-7px;text-align:left !important;width:94% !important;z-index:9999 !important;}
#sf_sb{margin-top:10px;}
#section-tophat .sf_container{float:left;}
#section-tophat .sf_container label{display:none;}
#section-tophat .sf_search{float:left;margin-left:0px;margin-right:0px;}
#section-tophat .sf_search{background:transparent !important;width:auto !important;border:0px !important;margin-top:-5px !important;}
#section-tophat .sf_search .sf_input{background:rgba(0,0,0,0.0) url(//training.technologymindz.com/wp-content/themes/campus/assets/images/theme/search.png) no-repeat 3px 3px !important;border:0px !important;border-radius:2px !important;z-index:2 !important;text-indent:-999px !important;border-left:0px solid rgba(0,0,0,0.0) !important;border-right:0px solid rgba(0,0,0,0.0) !important;font-size:1.5rem !important;font-family:arial,sans-serif !important;font-style:normal !important;height:24px !important;overflow:visible !important;padding-left:0px !important;transition:width 0.5s ease-out 0s;width:24px !important;margin-top:-3px !important;margin-left:0px !important;margin-right:5px !important;float:right !important;}
#section-tophat .sf_search .sf_input:focus{width:200px !important;text-indent:0px !important;-moz-transition:width 0.5s ease-out !important;-webkit-transition:width 0.5s ease-out !important;transition:width 0.5s ease-out !important;color:#333333 !important;background-color:#FFFFFF !important;padding-left:35px !important;}
#section-tophat .sf_search .sf_button{display:none !important;}
.sf_search .sf_input{margin-top:-4px !important;}
#section-tophat .sf_search input.field:focus{background-color:#FFFFFF;width:200px;text-indent:0px;-moz-transition:width 0.5s ease-out;-webkit-transition:width 0.5s ease-out;transition:width 0.5s ease-out;color:#777;padding-left:35px;}
.search-results .content{float:left;}
.featured .wpb_wrapper > p{float:left;}
.module-center{text-align:center;}
.neg-margintop{margin-top:-25px;}
.margin-bottom{margin-bottom:15px !important;}
.vc_span8.module-container.wpb_column.column_container{margin-top:7px;}
.wpb_button.wpb_btn-primary.wpb_btn-large{padding-left:45px;padding-right:45px;}
.heading_center .wpb_heading{text-align:center;}
.module-nomargin .rev_slider_wrapper{margin-top:0px !important;}
.module-row{background-color:#00254E;border-bottom-left-radius:2px;border-bottom-right-radius:2px;border-top-left-radius:2px;border-top-right-radius:2px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2) !important;color:#EEEEEE !important;padding-bottom:25px;padding-left:25px;padding-right:25px;padding-top:25px;margin-bottom:40px !important;}
.module-row .wpb_wrapper h2, .module-row .wpb_wrapper h2 a{color:#ECB200 !important;}
.module-row .module-container{margin-bottom:0px !important;}
.module-row .wpb_teaser_grid .wpb_wrapper{margin-bottom:-5px !important;}
.module img, .module-container img{margin-bottom:0px;margin-left:0;margin-right:10px;margin-top:0;}
.module{background-color:transparent;padding:0px;position:relative !important;}
.module p{line-height:1.5;}
.wpb_wrapper > p{margin-bottom:15px;}
.wpb_content_element span.your-email input.wpcf7-form-control{max-width:88%;}
.wpcf7-form input{margin-bottom:10px;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;}
input.wpcf7-submit{margin-top:10px;margin-left:10px;margin-bottom:10px;padding-bottom:4px;padding-left:15px;padding-right:15px;padding-top:4px;}
.wpb_wrapper hr, .wpd_separator, .wpb_separator, .vc_text_separator, hr{border-bottom-color:rgba(0, 0, 0, 0.15) !important;;border-bottom-style:solid;border-bottom-width:1px;border-left-width-ltr-source:physical;border-left-width-rtl-source:physical;border-left-width-value:0;border-right-width-ltr-source:physical;border-right-width-rtl-source:physical;border-right-width-value:0;border-top-color:rgba(0, 0, 0, 0.15);border-top-style:solid;border-top-width:0px;clear:both;height:2px !important;margin-bottom:10px;margin-left:0;margin-right:0;margin-top:0px;}
.page-template-template-blog-php .content-inner > hr, .sub-meta-hr{margin-bottom:20px;margin-left:0;margin-right:0;margin-top:20px;}
hr.page-title-hr{border-bottom-color:rgba(0, 0, 0, 0.15) !important;border-bottom-style:solid;border-bottom-width:4px !important;border-left-width-ltr-source:physical;border-left-width-rtl-source:physical;border-left-width-value:0;border-right-width-ltr-source:physical;border-right-width-rtl-source:physical;border-right-width-value:0;border-top-color:rgba(0, 0, 0, 0.15);border-top-style:solid;border-top-width:0px;clear:both;height:2px !important;margin-bottom:20px !important;margin-left:0;margin-right:0;margin-top:15px !important;}
.wpb_separator{margin-bottom:0px !important;}
.wpb_row .wpb_separator.wpb_content_element{margin-top:2px !important;}
.mdnw_pagination .p.button{background-color:transparent !important;}
#facebook > span{display:block !important;}
ul li{list-style-image:none;list-style-position:inside;list-style-type:disc;margin-left:0;}
ol{list-style-image:none;list-style-position:inside;list-style-type:decimal;}
.icon li{list-style-type:none !important;}
.rpwe-ul li{list-style-type:none !important;}
.teaser_grid_container li{list-style-type:none !important;}
#footer-row.sixteen.columns.alpha.omega{width:1120px;}
#section-pre-footer{position:relative;z-index:9999 !important;margin-top:-30px;}
.category_row h3{color:#777777;}
#section-footer h2 a, #section-footer h2, #section-footer h3, #section-footer h4{color:#FFFFFF;}
#section-footer .widget, #section-footer .widget ul{margin-bottom:0 !important;}
.vc_span8.module-container.wpb_column.column_container{margin-top:7px;}
#gnews-just-better-2 a{color:#EEEEEE !important;}
#footer-row .teaser_grid_container li{padding-top:5px !important;}
#section-footer .wpb_gmaps_widget.wpb_content_element{margin-top:20px !important;}
#section-footer ul li{border-bottom-width:0px;border-top-width:0px;}
#section-footer ul li{padding-bottom:5px;padding-top:5px;}
.tagline.omega span.font-icon{display:block;float:right;font-size:16px !important;margin-bottom:0;margin-left:5px;margin-right:5px;margin-top:0;padding-top:1px !important;}
.tagline.omega a{color:#afafaf !important;}
.tagline.omega a:hover{color:#ECB200 !important;}
.tagline.omega span.font-icon{display:block;float:right;font-size:16px !important;margin-bottom:0;margin-left:5px;margin-right:5px;margin-top:0;padding-top:1px !important;}
.single-product .page-title.title.title-large{float:left;margin-right:10px;}
.woocommerce-page .vc_row-fluid{margin-bottom:10px !important;}
.woocommerce-page .wpb_wrapper{margin-bottom:20px !important;}
.woocommerce span.onsale, .woocommerce-page span.onsale{background-color:#ECB200 !important;background-image:none !important;text-shadow:0 -1px 0 #999999 !important;}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before{background-color:#ECB200 !important;}
.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce-info{border-top-color:#ECB200 !important;border-top-style:solid;border-top-width:3px;}
.woocommerce-message .button.wc-forward:hover{color:#555 !important;}
a{outline:0;}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt{background-image:-moz-linear-gradient(center top , #afafaf 0px, #555555 100%) !important;color:#FFFFFF;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.6);}
.button.add_to_cart_button.product_type_simple:hover{color:#ECB200 !important;text-shadow:1px 1px 1px #FFFFFF !important;}
.woocommerce-billing-fields .chosen-single span{color:#333333 !important;}