html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
label{clear:both;display:block;}
table{border-collapse:collapse;border-spacing:0;}
table{border-width:1px;border-spacing:2px;border-style:solid;border-color:#ddd;border-collapse:separate;background-color:white;}
table th{border-width:1px;padding:5px;border-style:solid;border-color:#CCC;background-color:white;-moz-border-radius:;}
table td{border-width:1px;padding:5px 12px;border-style:solid;border-color:#CCC;background-color:white;-moz-border-radius:;}
ol{list-style:decimal;}
ul{list-style:none;}
ul.disc{list-style:disc;}
ul.square{list-style:square;}
ul.circle{list-style:circle;}
ul li{list-style:none;margin-left:0px;}
ul.disc li{list-style:disc;margin-left:30px;}
ul.square li{list-style:square;margin-left:30px;}
ul.circle li{list-style:circle;margin-left:30px;}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure, blockquote{margin-bottom:20px;}