/* The Grid ---------------------- */
.otw-row, .otw-columns, .block-grid, .block-grid > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.otw-row {
  max-width: 100%;
  margin: 0 auto;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  margin: 0 -10px;
}
.otw-row.otw-collapse .otw-column, .otw-row.otw-collapse .otw-columns {
  padding: 0;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.otw-row .otw-row.otw-collapse {
  margin: 0;
}

.otw-column, .otw-columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
.otw-column.centered, .otw-columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="otw-column"] + [class*="otw-column"]:last-child {
  float: right;
}

[class*="otw-column"] + [class*="otw-column"].end {
  float: left;
}

.otw-one, .otw-row .otw-one {
  width: 4.16667%;
}

.otw-two, .otw-row .otw-two {
  width: 8.33333%;
}

.otw-three, .otw-row .otw-three {
  width: 12.5%;
}

.otw-four, .otw-row .otw-four {
  width: 16.6%;
}

.otw-five, .otw-row .otw-five {
  width: 20.83333%;
}

.otw-six, .otw-row .otw-six {
  width: 25%;
}

.otw-seven, .otw-row .otw-seven {
  width: 29.16667%;
}

.otw-eight, .otw-row .otw-eight {
  width: 33.33333%;
}

.otw-nine, .otw-row .otw-nine {
  width: 37.5%;
}

.otw-ten, .otw-row .otw-ten {
  width: 41.66667%;
}

.otw-eleven, .otw-row .otw-eleven {
  width: 45.83333%;
}

.otw-twelve, .otw-row .otw-twelve {
  width: 50%;
}

.otw-thirteen, .otw-row .otw-thirteen {
  width: 54.16667%;
}

.otw-fourteen, .otw-row .otw-fourteen {
  width: 58.33333%;
}

.otw-fifteen, .otw-row .otw-fifteen {
  width: 62.5%;
}

.otw-sixteen, .otw-row .otw-sixteen {
  width: 66.66667%;
}

.otw-seventeen, .otw-row .otw-seventeen {
  width: 70.83333%;
}

.otw-eighteen, .otw-row .otw-eighteen {
  width: 75%;
}

.otw-nineteen, .otw-row .otw-nineteen {
  width: 79.16667%;
}

.otw-twenty, .otw-row .otw-twenty {
  width: 83.33333%;
}

.otw-twentyone, .otw-row .otw-twentyone {
  width: 87.5%;
}

.otw-twentytwo, .otw-row .otw-twentytwo {
  width: 91.66667%;
}

.otw-twentythree, .otw-row .otw-twentythree {
  width: 95.83333%;
}

.otw-twentyfour, .otw-row .otw-twentyfour {
  width: 100%;
}

.otw-row .otw-offset-by-one {
  margin-left: 4.16667%;
}

.otw-row .otw-offset-by-two {
  margin-left: 8.33333%;
}

.otw-row .otw-offset-by-three {
  margin-left: 12.5%;
}

.otw-row .otw-offset-by-four {
  margin-left: 16.66667%;
}

.otw-row .otw-offset-by-five {
  margin-left: 20.83333%;
}

.otw-row .otw-offset-by-six {
  margin-left: 25%;
}

.otw-row .otw-offset-by-seven {
  margin-left: 29.16667%;
}

.otw-row .otw-offset-by-eight {
  margin-left: 33.33333%;
}

.otw-row .otw-offset-by-nine {
  margin-left: 37.5%;
}

.otw-row .otw-offset-by-ten {
  margin-left: 41.66667%;
}

.otw-row .otw-offset-by-eleven {
  margin-left: 45.83333%;
}

.otw-row .otw-offset-by-twelve {
  margin-left: 50%;
}

.otw-row .otw-offset-by-thirteen {
  margin-left: 54.16667%;
}

.otw-row .otw-offset-by-fourteen {
  margin-left: 58.33333%;
}

.otw-row .otw-offset-by-fifteen {
  margin-left: 62.5%;
}

.otw-row .otw-offset-by-sixteen {
  margin-left: 66.66667%;
}

.otw-row .otw-offset-by-seventeen {
  margin-left: 70.83333%;
}

.otw-row .otw-offset-by-eighteen {
  margin-left: 75%;
}

.otw-row .otw-offset-by-nineteen {
  margin-left: 79.16667%;
}

.otw-row .otw-offset-by-twenty {
  margin-left: 83.33333%;
}

.otw-row .otw-offset-by-twentyone {
  margin-left: 87.5%;
}

.otw-row .otw-offset-by-twentytwo {
  margin-left: 91.66667%;
}

.otw-push-two {
  left: 8.33333%;
}

.otw-pull-two {
  right: 8.33333%;
}

.otw-push-three {
  left: 12.5%;
}

.otw-pull-three {
  right: 12.5%;
}

.otw-push-four {
  left: 16.66667%;
}

.otw-pull-four {
  right: 16.66667%;
}

.otw-push-five {
  left: 20.83333%;
}

.otw-pull-five {
  right: 20.83333%;
}

.otw-push-six {
  left: 25%;
}

.otw-pull-six {
  right: 25%;
}

.otw-push-seven {
  left: 29.16667%;
}

.otw-pull-seven {
  right: 29.16667%;
}

.otw-push-eight {
  left: 33.33333%;
}

.otw-pull-eight {
  right: 33.33333%;
}

.otw-push-nine {
  left: 37.5%;
}

.otw-pull-nine {
  right: 37.5%;
}

.otw-push-ten {
  left: 41.66667%;
}

.otw-pull-ten {
  right: 41.66667%;
}

.otw-push-eleven {
  left: 45.83333%;
}

.otw-pull-eleven {
  right: 45.83333%;
}

.otw-push-twelve {
  left: 50%;
}

.otw-pull-twelve {
  right: 50%;
}

.otw-push-thirteen {
  left: 54.16667%;
}

.otw-pull-thirteen {
  right: 54.16667%;
}

.otw-push-fourteen {
  left: 58.33333%;
}

.otw-pull-fourteen {
  right: 58.33333%;
}

.otw-push-fifteen {
  left: 62.5%;
}

.otw-pull-fifteen {
  right: 62.5%;
}

.otw-push-sixteen {
  left: 66.66667%;
}

.otw-pull-sixteen {
  right: 66.66667%;
}

.otw-push-seventeen {
  left: 70.83333%;
}

.otw-pull-seventeen {
  right: 70.83333%;
}

.otw-push-eighteen {
  left: 75%;
}

.otw-pull-eighteen {
  right: 75%;
}

.otw-push-nineteen {
  left: 79.16667%;
}

.otw-pull-nineteen {
  right: 79.16667%;
}

.otw-push-twenty {
  left: 83.33333%;
}

.otw-pull-twenty {
  right: 83.33333%;
}

.otw-push-twentyone {
  left: 87.5%;
}

.otw-pull-twentyone {
  right: 87.5%;
}

.otw-push-twentytwo {
  left: 91.66667%;
}

.otw-pull-twentytwo {
  right: 91.66667%;
}

#map_canvas img, .map_canvas img {
  max-width: none!important;
}

/* Nicolas Gallagher's micro clearfix */
.otw-row {
  *zoom: 1;
}
.otw-row:before, .otw-row:after {
  content: " ";
  display: table;
}
.otw-row:after {
  clear: both;
}

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.one-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.one-up > li {
  width: 100%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.two-up > li {
  width: 50%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
.block-grid.three-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.three-up > li {
  width: 33.33333%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
.block-grid.four-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.four-up > li {
  width: 25%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.four-up > li:nth-child(4n+1) {
  clear: both;
}
.block-grid.five-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.five-up > li {
  width: 20%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.five-up > li:nth-child(5n+1) {
  clear: both;
}
.block-grid.six-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.six-up > li {
  width: 16.66667%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.six-up > li:nth-child(6n+1) {
  clear: both;
}


.otw-hide-label,
.otw-show-label {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  padding: 10px 30px;
  z-index: 100000;
  cursor: pointer;
}

.otw-show-label {
  padding: 10px 30px;
  position: absolute;
}

.otw-hide-label {
  padding: 0;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.otw-sticky {
  position: absolute;
  z-index: 99999;
}
.otw-sticky .otw-sticky-content {
  padding: 10px 0;
  position: relative;
}
.otw-sticky .otw-sticky-content-inner {
  margin: 0 auto;
}
.otw-sticky.fixed-position {
  position: fixed;
}
.otw-sticky.otw-align-left {
  text-align: left;
}
.otw-sticky.otw-align-center {
  text-align: center;
}
.otw-sticky.otw-align-right {
  text-align: right;
}
.otw-sticky.otw-sticky-once .otw-show-label {
  display: none;
}
.otw-sticky.otw-slide-animation .otw-sticky-content,
.otw-sticky.otw-slide-animation .otw-show-label,
.otw-sticky.otw-slide-animation .otw-hide-label {
  -webkit-transition: all 0.6s ease-in-out, 1s;
  -moz-transition: all 0.6s ease-in-out, 1s;
  -o-transition: all 0.6s ease-in-out, 1s;
  transition: all 0.6s ease-in-out, 1s;
}
.otw-sticky.otw-fade-animation .otw-sticky-content,
.otw-sticky.otw-fade-animation .otw-show-label,
.otw-sticky.otw-fade-animation .otw-hide-label {
  -webkit-transition: opacity 0.6s ease-in-out, 1s;
  -moz-transition: opacity 0.6s ease-in-out, 1s;
  -o-transition: opacity 0.6s ease-in-out, 1s;
  transition: opacity 0.6s ease-in-out, 1s;
}
.otw-sticky.otw-fade-animation.otw-show-sticky .otw-sticky-content,
.otw-sticky.otw-fade-animation.otw-show-sticky .otw-hide-label {
  opacity: 1;
}
.otw-sticky.otw-fade-animation.otw-show-sticky .otw-show-label {
  opacity: 0;
}
.otw-sticky.otw-fade-animation.otw-hide-sticky .otw-sticky-content,
.otw-sticky.otw-fade-animation.otw-hide-sticky .otw-hide-label {
  opacity: 0;
}
.otw-sticky.otw-fade-animation.otw-hide-sticky .otw-show-label {
  opacity: 1;
}
.otw-sticky.otw-full-bar.otw-top-sticky, .otw-sticky.otw-full-bar.otw-bottom-sticky {
  width: 100%;
}
.otw-sticky.otw-full-bar.otw-top-sticky .otw-show-label,
.otw-sticky.otw-full-bar.otw-top-sticky .otw-hide-label, .otw-sticky.otw-full-bar.otw-bottom-sticky .otw-show-label,
.otw-sticky.otw-full-bar.otw-bottom-sticky .otw-hide-label {
  right: 30px;
}
.otw-sticky.otw-full-bar.otw-left-sticky, .otw-sticky.otw-full-bar.otw-right-sticky {
  height: 100%;
}
.otw-sticky.otw-full-bar.otw-left-sticky .otw-hide-label,
.otw-sticky.otw-full-bar.otw-left-sticky .otw-show-label, .otw-sticky.otw-full-bar.otw-right-sticky .otw-hide-label,
.otw-sticky.otw-full-bar.otw-right-sticky .otw-show-label {
  top: 30px;
  right: auto;
}
.otw-sticky.otw-full-bar.otw-left-sticky .otw-sticky-content, .otw-sticky.otw-full-bar.otw-right-sticky .otw-sticky-content {
  height: 100%;
}
.otw-sticky.otw-side-box.otw-top-sticky, .otw-sticky.otw-side-box.otw-bottom-sticky {
  margin: 0 auto;
}
.otw-sticky.otw-side-box.otw-top-sticky .otw-show-label,
.otw-sticky.otw-side-box.otw-top-sticky .otw-hide-label, .otw-sticky.otw-side-box.otw-bottom-sticky .otw-show-label,
.otw-sticky.otw-side-box.otw-bottom-sticky .otw-hide-label {
  right: 0;
}
.otw-sticky.otw-side-box.otw-left-sticky, .otw-sticky.otw-side-box.otw-right-sticky {
  /* Begin customization options */
  top: 10%;
  bottom: 10%;
  /* END customization options */
}
.otw-sticky.otw-side-box.otw-left-sticky .otw-hide-label,
.otw-sticky.otw-side-box.otw-left-sticky .otw-show-label, .otw-sticky.otw-side-box.otw-right-sticky .otw-hide-label,
.otw-sticky.otw-side-box.otw-right-sticky .otw-show-label {
  top: 0;
  right: auto;
}
.otw-sticky.otw-top-sticky {
  bottom: auto;
  left: 0;
  right: 0;
  top: 0;
}
.otw-sticky.otw-top-sticky.otw-show-sticky .otw-sticky-content {
  margin-top: 0;
}
.otw-sticky.otw-top-sticky.otw-show-sticky .otw-show-label {
  margin-top: -100%;
}
.otw-sticky.otw-top-sticky.otw-show-sticky .otw-hide-label {
  bottom: -30px;
}
.otw-sticky.otw-top-sticky.otw-hide-sticky .otw-sticky-content {
  margin-top: -100%;
}
.otw-sticky.otw-top-sticky.otw-hide-sticky .otw-show-label {
  margin-top: 0;
}
.otw-sticky.otw-top-sticky.otw-hide-sticky .otw-hide-label {
  bottom: 100%;
}
.otw-sticky.otw-top-sticky.otw-fade-animation .otw-sticky-content {
  margin-top: 0 !important;
}
.otw-sticky.otw-top-sticky.otw-fade-animation.otw-show-sticky .otw-show-label {
  margin-top: 0;
}
.otw-sticky.otw-top-sticky.otw-fade-animation.otw-hide-sticky .otw-hide-label {
  bottom: -30px;
}
.otw-sticky.otw-bottom-sticky {
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.otw-sticky.otw-bottom-sticky.otw-show-sticky .otw-sticky-content {
  bottom: -1px;
}
.otw-sticky.otw-bottom-sticky.otw-show-sticky .otw-show-label {
  bottom: -100%;
}
.otw-sticky.otw-bottom-sticky.otw-show-sticky .otw-hide-label {
  margin-top: -29px;
}
.otw-sticky.otw-bottom-sticky.otw-hide-sticky .otw-sticky-content {
  bottom: -1200px;
}
.otw-sticky.otw-bottom-sticky.otw-hide-sticky .otw-show-label {
  bottom: 0;
}
.otw-sticky.otw-bottom-sticky.otw-hide-sticky .otw-hide-label {
  margin-top: 100%;
}
.otw-sticky.otw-bottom-sticky.otw-fade-animation .otw-sticky-content {
  bottom: 0 !important;
  margin-bottom: 0 !important;
}
.otw-sticky.otw-bottom-sticky.otw-fade-animation.otw-show-sticky .otw-show-label {
  bottom: 0;
}
.otw-sticky.otw-bottom-sticky.otw-fade-animation.otw-hide-sticky .otw-hide-label {
  margin-top: -30px;
}
.otw-sticky.otw-left-sticky {
  bottom: 0;
  left: 0;
  right: auto;
  top: 0;
}
.otw-sticky.otw-left-sticky .otw-show-label {
  right: auto;
}
.otw-sticky.otw-left-sticky.otw-show-sticky .otw-sticky-content {
  margin-left: 0;
}
.otw-sticky.otw-left-sticky.otw-show-sticky .otw-show-label {
  left: -100%;
}
.otw-sticky.otw-left-sticky.otw-show-sticky .otw-hide-label {
  right: -30px;
}
.otw-sticky.otw-left-sticky.otw-hide-sticky .otw-sticky-content {
  margin-left: -1200px;
}
.otw-sticky.otw-left-sticky.otw-hide-sticky .otw-show-label {
  left: 0;
}
.otw-sticky.otw-left-sticky.otw-hide-sticky .otw-hide-label {
  right: 150%;
}
.otw-sticky.otw-left-sticky.otw-fade-animation .otw-sticky-content {
  margin-left: 0 !important;
}
.otw-sticky.otw-left-sticky.otw-fade-animation.otw-show-sticky .otw-show-label {
  left: 0;
}
.otw-sticky.otw-left-sticky.otw-fade-animation.otw-hide-sticky .otw-hide-label {
  right: -30px;
}
.otw-sticky.otw-right-sticky {
  bottom: 0;
  left: auto;
  right: 0;
  top: 0;
}
.otw-sticky.otw-right-sticky .otw-show-label {
  top: 30px;
}
.otw-sticky.otw-right-sticky.otw-show-sticky .otw-sticky-content {
  margin-right: 0;
}
.otw-sticky.otw-right-sticky.otw-show-sticky .otw-show-label {
  right: -100%;
}
.otw-sticky.otw-right-sticky.otw-show-sticky .otw-hide-label {
  left: -30px;
}
.otw-sticky.otw-right-sticky.otw-hide-sticky .otw-sticky-content {
  margin-right: -1200px;
}
.otw-sticky.otw-right-sticky.otw-hide-sticky .otw-show-label {
  right: 0;
}
.otw-sticky.otw-right-sticky.otw-hide-sticky .otw-hide-label {
  left: 150%;
}
.otw-sticky.otw-right-sticky.otw-fade-animation .otw-sticky-content {
  margin-right: 0 !important;
}
.otw-sticky.otw-right-sticky.otw-fade-animation.otw-show-sticky .otw-show-label {
  right: 0;
}
.otw-sticky.otw-right-sticky.otw-fade-animation.otw-hide-sticky .otw-hide-label {
  left: -30px;
}

.otw-white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  margin: 20px auto;
}

.otw-sticky-shadow-small {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.otw-sticky-shadow-large {
  -webkit-box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.15);
}

.otw-sticky-border-type-solid {
  border-style: solid;
}

.otw-sticky-border-type-dashed {
  border-style: dashed;
}

.otw-sticky-border-type-dotted {
  border-style: dotted;
}

.otw-sticky-rounded-border-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.otw-sticky-rounded-border-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.otw-sticky-rounded-border-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.otw-sticky-border-black {
  border-color: #1c1c1c;
}

.otw-sticky-border-white {
  border-color: white;
}

.otw-sticky-border-red {
  border-color: #ff1d25;
}

.otw-sticky-border-orange {
  border-color: #ff931e;
}

.otw-sticky-border-green {
  border-color: #8cc63f;
}

.otw-sticky-border-greenish {
  border-color: #23d7af;
}

.otw-sticky-border-aqua {
  border-color: #3fa9f5;
}

.otw-sticky-border-blue {
  border-color: #2356d7;
}

.otw-sticky-border-pink {
  border-color: #ff7bac;
}

.otw-sticky-border-purple {
  border-color: #915ecc;
}

.otw-sticky-border-silver {
  border-color: #d8d8d8;
}

.otw-sticky-border-brown {
  border-color: #c69c6d;
}

.otw-sticky-transparent {
  background: transparent;
}

.otw-sticky-background-red {
  background: #ff1d25;
}

.otw-sticky-background-orange {
  background: #ff931e;
}

.otw-sticky-background-green {
  background: #8cc63f;
}

.otw-sticky-background-greenish {
  background: #23d7af;
}

.otw-sticky-background-aqua {
  background: #3fa9f5;
}

.otw-sticky-background-blue {
  background: #2356d7;
}

.otw-sticky-background-pink {
  background: #ff7bac;
}

.otw-sticky-background-purple {
  background: #915ecc;
}

.otw-sticky-background-silver {
  background: #d8d8d8;
}

.otw-sticky-background-brown {
  background: #c69c6d;
}

.otw-sticky-background-black {
  background: #1c1c1c;
}

.otw-sticky-background-white {
  background: white;
}

.otw-sticky-background-light-red {
  background: #ffd0d1;
}

.otw-sticky-background-light-orange {
  background: #ffe9d0;
}

.otw-sticky-background-light-green {
  background: #deefc9;
}

.otw-sticky-background-light-greenish {
  background: #b9f4e7;
}

.otw-sticky-background-light-aqua {
  background: #e9f5fe;
}

.otw-sticky-background-light-blue {
  background: #b9caf4;
}

.otw-sticky-background-light-pink {
  background: #fff0f6;
}

.otw-sticky-background-light-purple {
  background: #eee6f7;
}

.otw-sticky-background-light-silver {
  background: #f9f9f9;
}

.otw-sticky-background-light-brown {
  background: #f8f3ed;
}

.otw-sticky-background-light-black {
  background: #757575;
}

.otw-sticky-background-light-white {
  background: white;
}

.otw-sticky-background-pattern-1 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/cream_pixels.png) repeat;
}

.otw-sticky-background-pattern-2 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/dimension.png) repeat;
}

.otw-sticky-background-pattern-3 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/grey.png) repeat;
}

.otw-sticky-background-pattern-4 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/greyzz.png) repeat;
}

.otw-sticky-background-pattern-5 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/pw_pattern.png) repeat;
}
.otw-sticky-background-pattern-6 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/skelatal_weave.png) repeat;
}

.otw-sticky-background-pattern-7 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/stitch.png) repeat;
}

.otw-sticky-background-pattern-8 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/subtle_grunge.png) repeat;
}

.otw-sticky-background-pattern-9 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/swirl.png) repeat;
}

.otw-sticky-background-pattern-10 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/wood_pattern.png) repeat;
}

.mfp-bg.otw-red-overlay {
  background: #ff1d25;
}
.mfp-bg.otw-orange-overlay {
  background: #ff931e;
}
.mfp-bg.otw-green-overlay {
  background: #8cc63f;
}
.mfp-bg.otw-greenish-overlay {
  background: #23d7af;
}
.mfp-bg.otw-aqua-overlay {
  background: #3fa9f5;
}
.mfp-bg.otw-blue-overlay {
  background: #2356d7;
}
.mfp-bg.otw-pink-overlay {
  background: #ff7bac;
}
.mfp-bg.otw-purple-overlay {
  background: #915ecc;
}
.mfp-bg.otw-silver-overlay {
  background: #d8d8d8;
}
.mfp-bg.otw-brown-overlay {
  background: #c69c6d;
}
.mfp-bg.otw-black-overlay {
  background: #1c1c1c;
}
.mfp-bg.otw-white-overlay {
  background: white;
}

.mfp-bg.otw-overlay-pattern-1 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/cream_pixels.png) repeat;
}

.mfp-bg.otw-overlay-pattern-2 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/dimension.png) repeat;
}

.mfp-bg.otw-overlay-pattern-3 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/grey.png) repeat;
}

.mfp-bg.otw-overlay-pattern-4 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/greyzz.png) repeat;
}

.mfp-bg.otw-overlay-pattern-5 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/pw_pattern.png) repeat;
}
.mfp-bg.otw-overlay-pattern-6 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/skelatal_weave.png) repeat;
}

.mfp-bg.otw-overlay-pattern-7 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/stitch.png) repeat;
}

.mfp-bg.otw-overlay-pattern-8 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/subtle_grunge.png) repeat;
}

.mfp-bg.otw-overlay-pattern-9 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/swirl.png) repeat;
}

.mfp-bg.otw-overlay-pattern-10 {
  background: transparent url(http://www.oracledbaexperts.com/wp-content/plugins/popping-sidebars-and-widgets-light//include/otw_components/otw_overlay_light/images/wood_pattern.png) repeat;
}
.mfp-bg.mfp-ready.otw-opacity-0 {
  opacity: 0;
}
.mfp-bg.mfp-ready.otw-opacity-10 {
  opacity: 0.1;
}
.mfp-bg.mfp-ready.otw-opacity-20 {
  opacity: 0.2;
}
.mfp-bg.mfp-ready.otw-opacity-30 {
  opacity: 0.3;
}
.mfp-bg.mfp-ready.otw-opacity-40 {
  opacity: 0.4;
}
.mfp-bg.mfp-ready.otw-opacity-50 {
  opacity: 0.5;
}
.mfp-bg.mfp-ready.otw-opacity-60 {
  opacity: 0.6;
}
.mfp-bg.mfp-ready.otw-opacity-70 {
  opacity: 0.7;
}
.mfp-bg.mfp-ready.otw-opacity-80 {
  opacity: 0.8;
}
.mfp-bg.mfp-ready.otw-opacity-90 {
  opacity: 0.9;
}
.mfp-bg.mfp-ready.otw-opacity-100 {
  opacity: 1;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
  -moz-transform: scale(0) rotate(500deg);
  -ms-transform: scale(0) rotate(500deg);
  -o-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
  -moz-transform: scale(0) rotate(500deg);
  -ms-transform: scale(0) rotate(500deg);
  -o-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  -o-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
  -moz-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -o-transform: rotateY(60deg);
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform: translateY(700px);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100002;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100003;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 100005;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 100004;
}
.mfp-preloader a {
  color: #cccccc;
}
.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 100006;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

.otw-affiliate{
	position: relative;
	padding-bottom: 20px !important;
}
.otw-overlay-affiliate{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: right;
	font-size: 10px;
	right: 10px;
}
.otw-show-label{
	white-space: nowrap;
}
.otw-show-sticky-loads .otw-show-label{
	visibility: hidden;
}
.otw-first-show-sticky .otw-show-label{
	visibility: hidden;
}
.otw-show-sticky-delay .otw-show-label{
	visibility: hidden;
}
.otw-show-sticky-mouse .otw-show-label{
	visibility: hidden;
}
.otw-sticky-wrapoer .otw-row{
	width: auto;
}
.mfp-content .otw-row{
	width: auto;
}
.otw-show-sticky-link .otw-show-label{
	visibility: hidden;
}
@media only screen and (max-width: 767px) {
	.hide-overlay-for-small{
		display: none;
	}
}
.otw-hide-sticky.otw-top-sticky .otw-hide-label{
	visibility: hidden;
}

/*bottom scrolling posittion*/
.otw-sticky.otw-hide-sticky.otw-bottom-sticky.scrolling-position {
  position: fixed;
}
.otw-sticky.otw-show-sticky.otw-bottom-sticky.scrolling-position {
  position: fixed;
}
.otw-sticky.otw-show-sticky.otw-bottom-sticky.scrolling-position .otw-show-label{
	visibility: hidden;
}
.otw-sticky.otw-show-sticky.otw-right-sticky.scrolling-position .otw-show-label{
	display: none;
}
.otw-sticky.otw-show-sticky.otw-right-sticky.scrolling-position{
	position: fixed;
}
.otw-sticky.otw-hide-sticky{
	pointer-events: none;
}
.otw-sticky.otw-hide-sticky .otw-show-label{
	pointer-events: auto;
}
.mfp-content .otw-align-left{
	text-align: left;
}
.mfp-content .otw-align-center{
	text-align: center;
}
.mfp-content .otw-align-right{
	text-align: right;
}
.otw-right-sticky-closed .otw-sticky-content{
	display: none;
}
.otw-right-sticky-closed .otw-hide-label{
	display: none;
}
.otw-sticky.otw-hide-sticky .otw-sticky-content{
	box-shadow: none !important;
}